@import "tailwindcss";

@theme {
  --color-primary: rgb(37, 99, 235);
  --color-primary-hover: rgb(29, 78, 216);
}

* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: rgb(243, 244, 246);
}